.header-container{
    display: grid;
    grid-template-areas: 'logo nav';
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    padding: .5rem 1rem;
    background: #EDEFEE;
    box-shadow: .1rem .1rem .6rem rgba(0, 0, 0, 0.3);
}
.nav-container{
    grid-area: nav;
    gap: 5rem;
}
.nav-container ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.logo{
    grid-area: logo;
    padding: .25rem;
    height: 3.75rem;
}
.mobile-icon{
    display: none;
}
.shopping-basket{
    cursor: pointer;
    grid-area: basket;
    height: 40px;
    width: 40px;
    padding: .3rem;
    border-radius: 10px;
    fill: #495E57;
}
.shopping-basket:hover{
    background-color:#495E57;
    opacity: 0.5;
    fill: #fff;
}
.hamburger-menu{
    cursor: pointer;
    grid-area: hamburger;
    height: 40px;
    width: 40px;
    padding: .3rem;
    border-radius: 10px;
    fill: #495E57;
}
.hamburger-menu:hover{
    background-color:#495E57;
    opacity: 0.5;
    fill: #fff;
}

.logo:hover{
    cursor: pointer;
}

.links li{
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 15px;
    font-weight: 600;
}

.links a{
    text-decoration: none;
    color: #495E57;
}

.links li:hover{
    background: #495E57;
    a{
        color: #fff;
    }
}
.links li:last-child{
    background: #F4CE14;
    a{
        color: #000;
    }
}
.links li:last-child:hover{
    opacity: 0.8;
}
.drop-menu{
    display: flex;
}

@media (max-width: 600px) {
    .nav-container{
        display: none;
    }
    .mobile-icon{
        display: grid;
    }
    .header-container{
        padding: 0;
    }
    .logo-container{
        display: grid;
        grid-template-areas: 'basket logo hamburger';
        justify-content: space-between;
        align-items: center;
        min-width: 100vw;
        padding: 1rem 2rem;

    }
    .logo{
        height: 3rem;
    }
    .drop-menu{
        display: grid;
    }
}
