/* Base Styles */
:root {
    --primary-color-1: #4A5753;
    --primary-color-2: #C9B765;
    --secondary-color-1: #D9A184;
    --secondary-color-2: #E8D5B5;
    --highlight-color-1: #F2F2F2;
    --highlight-color-2: #2E2E2E;
    --shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

    --f-header: 'Karla', 'sans-serif';
    --f-text: 'Markazi Text', 'sans-serif';
    --f-bold: 600; 
}

/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: var(--f-text);
    background-color: var(--highlight-color-1);
    color: var(--highlight-color-2);
}

.nav-container {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'links logo icons';
    align-items: center;
    box-shadow: var(--shadow);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: linear-gradient(135deg, var(--highlight-color-1), var(--primary-color-2));
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    grid-area: logo;
}

/* Navigation icons */
.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    grid-area: icons;
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    border-radius: 8px;
    background-color: var(--secondary-color-1);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.3s, width 0.3s ease;
    height: 2.5rem;
}

.icon-box:hover {
    background-color: var(--secondary-color-2);
}

.profile-icon, .basket-icon {
    font-size: 1.5rem;
    color: var(--primary-color-1);
}

.login-text {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color-1);
    opacity: 0;
    width: 0;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.icon-box:hover .login-text {
    margin-right: .4rem;
    opacity: 1;
    width: auto;
}

/* Navigation links */
.links-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    grid-area: links;
}

.links-container a {
    text-transform: uppercase;
    font-family: var(--f-header);
    font-weight: var(--f-bold);
    color: var(--primary-color-1);
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding-bottom: 5px;
}

.links-container a:hover {
    color: var(--highlight-color-2);
    transform: scale(1.1);
}

.links-container a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color-1);
    transition: width 0.3s ease-in-out;
}

.links-container a:hover::after {
    width: 100%;
}

.logo {
    max-height: 60px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

@media (max-width: 1024px) {
    .nav-container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            'logo logo'
            'links icons';
    }

    .icons-container {
        justify-content: flex-end;
        margin-left: 1rem;
    }

    .links-container {
        justify-content: flex-start;
        margin-right: 1rem;
    }
}
