.footer{
    display: grid;
    justify-content: center;
    background: #EDEFEE;
    padding: 2rem;
}
.footer-items{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr;
    column-gap: 40px;
    padding: 2rem;
    color: #495E57;
}
.about{
    grid-column:span 2;
    gap: 250px;
}
.footer-items h4{
    margin-bottom: .5rem;
}
h4{
    color: black;
}

.rights{
    text-align: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-self: end;
}
.footer-links a{
    text-decoration: none;
    color: #495E57;
    font-weight: 600;
}
.footer-links a:hover{
    text-decoration: underline;
}
.footer-links ul{
    list-style: none;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-self: end;
}

@media (max-width: 600px){
    .socials h4{
        display: none;
    }
    .footer-items{
        /* width: 100vw; */
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 2fr 2fr;
        row-gap: 10px;
        align-items: center;
        justify-items: center;
        padding: 0;
    }
    .footer-links h4{
        display: none;
    }
    .footer-links ul{
        display: flex;
    }
    .footer-links{
        justify-self: center;
    }
    .about{
        grid-column: span 2;
        text-align: center;
    }
    .socials{
        display: flex;
        justify-self: center;
    }
}