
html{
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
.header{
    position: relative;

}
.hero{
    top: 0;
}
.footer{
    position:relative;
    top: 100%;
    bottom: 0;
}
